*.bak*
*.bin
*.dot
*.err
*.gz
*.npy
*.pdf
*.pkl
*.png
*.svg
*.vscode
*build
*core*
*temp*
*tmp
.ccls-cache*
__pycache__*
bench.log
nohup.out
quafu*.json
sim-beta/.ccls*
sim-beta/Debug
sim-beta/compile_commands.json
test_data*
*.swp

# executables
*.out
