annotated-types==0.7.0
antlr4-python3-runtime==4.13.1
black==24.4.2
certifi==2024.7.4
cffi==1.16.0
cfgv==3.4.0
charset-normalizer==3.3.2
click==8.1.7
contourpy==1.2.1
cryptography==42.0.8
cycler==0.12.1
dill==0.3.8
distlib==0.3.8
-e git+https://github.com/Zhaoyilunnn/dqc-map.git@53a07a5446639333e7c327651a911b270f838a02#egg=dqc_map
filelock==3.15.4
fonttools==4.53.1
ibm-cloud-sdk-core==3.20.3
ibm-platform-services==0.55.1
identify==2.6.0
idna==3.7
iniconfig==2.0.0
joblib==1.4.2
kiwisolver==1.4.5
matplotlib==3.9.1
mpmath==1.3.0
mypy-extensions==1.0.0
nodeenv==1.9.1
numpy==2.0.0
openqasm3==0.5.0
packaging==24.1
pandas==2.2.2
pathspec==0.12.1
pbr==6.0.0
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
pre-commit==3.7.1
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
pyparsing==3.1.2
PySocks==1.7.1
pyspnego==0.11.0
pytest==8.2.2
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
qiskit==1.1.1
qiskit-ibm-runtime==0.25.0
qiskit-qasm3-import==0.5.0
requests==2.32.3
requests_ntlm==1.3.0
rustworkx==0.15.1
scipy==1.14.0
seaborn==0.13.2
six==1.16.0
stevedore==5.2.0
symengine==0.11.0
sympy==1.13.0
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.26.3
websocket-client==1.8.0
z3-solver==4.13.0.0
